[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.27"
django-environ = "==0.4.4"
social-auth-core = {file = "https://github.com/python-social-auth/social-core/archive/master.zip"}
social-auth-app-django = "==2.1.0"

[dev-packages]

[requires]
python_version = "3.10"
